.plataformaDe {
  margin: 0;
}
.foraDeVendas {
  font-weight: 600;
  font-family: var(--font-bai-jamjuree);
  color: var(--tertiary-color);
}
.plataformaDeForaContainer {
  position: absolute;
  top: 415px;
  left: 186px;
  line-height: 50px;
  display: inline-block;
  width: 481px;
  height: 208px;
}
.vVelisOriginalChild,
.vVelisOriginalItem {
  position: absolute;
  height: 97.7%;
  width: 28.29%;
  top: 11.82%;
  right: 71.71%;
  bottom: -9.52%;
  left: 0;
  border-radius: var(--br-481xl);
  border: 3px solid var(--color-gray-300);
  box-sizing: border-box;
  transform: rotate(-25.5deg);
  transform-origin: 0 0;
}
.vVelisOriginalItem {
  top: 0;
  right: -2.76%;
  bottom: 2.3%;
  left: 74.47%;
  transform: rotate(25.5deg);
}
.vVelisOriginal {
  position: absolute;
  height: 99.61%;
  width: 68.75%;
  top: 0.88%;
  right: 61.87%;
  bottom: -0.49%;
  left: -30.62%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btnGoogle {
  position: relative;
}
.btnGoogleParent {
  position: absolute;
  width: calc(100% - 72px);
  top: 578px;
  right: 36px;
  left: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.frameChild {
  flex: 1;
  position: relative;
  border-top: 0.6px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 0.6px;
}
.ouAcesseCom {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.component,
.lineParent {
  position: absolute;
  width: calc(100% - 72px);
}
.lineParent {
  top: 522px;
  right: 36px;
  left: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.component {
  top: 439px;
  right: 37px;
  left: 35px;
}
.esqueceuASenha {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 500;
}
.esqueceuSenha {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  width: 132px;
  height: 24px;
  color: inherit;
}
.checkListParent {
  position: absolute;
  width: calc(100% - 73px);
  top: 384px;
  right: 37px;
  left: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-slateblue-100);
}
.senha,
.usuario {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 72px);
  top: 248px;
  right: 36px;
  left: 36px;
}
.senha {
  top: 320px;
}
.logoHorizontalCorTagIcon {
  position: absolute;
  top: calc(50% - 312px);
  left: calc(50% - 144px);
  width: 288.91px;
  height: 100px;
  object-fit: cover;
}
.image3Icon,
.login {
  position: absolute;
  overflow: hidden;
}
.login {
  height: 72.66%;
  width: 37.5%;
  top: 9.08%;
  right: 8.26%;
  bottom: 18.26%;
  left: 54.24%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--title-medium-size);
  color: var(--color-gray-100);
  font-family: var(--title-medium);
}
.image3Icon {
  height: 6.84%;
  width: 12.56%;
  top: 85.55%;
  right: 20.7%;
  bottom: 7.62%;
  left: 66.74%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.telaLogin {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(/public/voltaraologin@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-bai-jamjuree);
}
